# Feature Transformation on Byte Features and Combining byte features with asm features

We have only 2 useful features from the bytes files. To increase the dimensionality here, we can perform some simple feature transformation on the two byte features that we have. 

We can build Polynomial Features out of the 2 byte features available.

For Example, say we have two features f1 and f2, for the polynomial set of features from f1 and f2 will be- f1, f2, f1*f2, f1^2, f2^2.

In [1]:
# importing libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures

## 1. Feature Transformation on Byte Features

In [4]:
# Loading the byte_final data
byte_final = pd.read_csv('./input/byte_final.csv')
byte_final.head()

,Id,0,1,10,11,12,13,14,15,16,...,f8,f9,fa,fb,fc,fd,fe,ff,entropy,Size
0,01azqd4InC7m9JpocGv5,601905,3905,3269,2740,3459,2767,3354,4049,3184,...,3687,3101,3211,3097,2758,3099,2759,5753,3.912142,5.012695
1,01IsoiSMh5gxyDYTl4CB,39755,8337,8869,228,352581,187,12034,353,349,...,6536,439,281,302,7639,518,17001,54902,3.421943,6.556152
2,01jsnpXSAlgw6aPeDxrU,93506,9542,2782,2611,2301,2706,2968,2808,2408,...,2358,2242,2885,2863,2471,2786,2680,49144,4.471821,4.602051
3,01kcPWA9K2BOxQeS5Rju,21091,1213,1067,407,389,423,644,520,413,...,873,485,462,516,1133,471,761,7998,4.952995,0.679688
4,01SuzwMJEIXsK7A8dQbl,19764,710,447,242,240,236,437,693,240,...,947,350,209,239,653,221,242,2199,4.816877,0.438965

In [9]:
Xb = byte_final[ ['entropy', 'Size'] ]
Ids = list(byte_final['Id'])

In [10]:
# Building the polynomial faetures for the entropy and byte file size
poly_featurizer = PolynomialFeatures(3)
Xb_poly = poly_featurizer.fit_transform(Xb)
Xb_poly[:, 1:]

array([[3.91214205e+00, 5.01269531e+00, 1.53048554e+01, ...,
        7.67185771e+01, 9.83008405e+01, 1.25954568e+02],
       [3.42194261e+00, 6.55615234e+00, 1.17096912e+01, ...,
        7.67705196e+01, 1.47085816e+02, 2.81803972e+02],
       [4.47182062e+00, 4.60205078e+00, 1.99971796e+01, ...,
        9.20280362e+01, 9.47081138e+01, 9.74662416e+01],
       ...,
       [4.90742846e+00, 2.54882812e-01, 2.40828541e+01, ...,
        6.13830559e+00, 3.18812308e-01, 1.65585252e-02],
       [3.68432164e+00, 6.51367188e-01, 1.35742260e+01, ...,
        8.84180538e+00, 1.56318109e+00, 2.76361558e-01],
       [3.65677613e+00, 5.94726562e-01, 1.33720117e+01, ...,
        7.95269054e+00, 1.29340056e+00, 2.10354597e-01]])

In [12]:
Xb_poly.shape[1]

10

In [13]:
# Building the new bytes file dataframe from the polynomial features. 
# This dataframe will be used for combining byte features with the asm features and further for modelling
byte_poly_features = pd.DataFrame(data=Xb_poly, columns=[f'byte_f{i}' for i in range(1, Xb_poly.shape[1]+1)])
byte_poly_features['Id'] = Ids
byte_poly_features.head()

,byte_f1,byte_f2,byte_f3,byte_f4,byte_f5,byte_f6,byte_f7,byte_f8,byte_f9,byte_f10,Id
0,1.0,3.912142,5.012695,15.304855,19.610376,25.127114,59.874768,76.718577,98.300840,125.954568,01azqd4InC7m9JpocGv5
1,1.0,3.421943,6.556152,11.709691,22.434777,42.983134,40.069891,76.770520,147.085816,281.803972,01IsoiSMh5gxyDYTl4CB
2,1.0,4.471821,4.602051,19.997180,20.579546,21.178871,89.423800,92.028036,94.708114,97.466242,01jsnpXSAlgw6aPeDxrU
3,1.0,4.952995,0.679688,24.532164,3.366489,0.461975,121.507699,16.674205,2.288161,0.313999,01kcPWA9K2BOxQeS5Rju
4,1.0,4.816877,0.438965,23.202307,2.114440,0.192690,111.762665,10.184997,0.928165,0.084584,01SuzwMJEIXsK7A8dQbl

In [14]:
# Saving into csv
byte_poly_features_tosave = byte_poly_features.set_index('Id')
byte_poly_features_tosave.to_csv('./input/byte_poly_features.csv')

In [20]:
# Reading the saved csv
byte_poly_features = pd.read_csv('./input/byte_poly_features.csv')
byte_poly_features.drop(labels=['byte_f1'], axis=1, inplace=True)
byte_poly_features.head()

,Id,byte_f2,byte_f3,byte_f4,byte_f5,byte_f6,byte_f7,byte_f8,byte_f9,byte_f10
0,01azqd4InC7m9JpocGv5,3.912142,5.012695,15.304855,19.610376,25.127114,59.874768,76.718577,98.300840,125.954568
1,01IsoiSMh5gxyDYTl4CB,3.421943,6.556152,11.709691,22.434777,42.983134,40.069891,76.770520,147.085816,281.803972
2,01jsnpXSAlgw6aPeDxrU,4.471821,4.602051,19.997180,20.579546,21.178871,89.423800,92.028036,94.708114,97.466242
3,01kcPWA9K2BOxQeS5Rju,4.952995,0.679688,24.532164,3.366489,0.461975,121.507699,16.674205,2.288161,0.313999
4,01SuzwMJEIXsK7A8dQbl,4.816877,0.438965,23.202307,2.114440,0.192690,111.762665,10.184997,0.928165,0.084584

## 2. Combining Byte Features with asm Features

In [21]:
# Loading asm_reduced features
asm_reduced = pd.read_csv('./input/asm_reduced.csv')
asm_reduced.head()

,Id,.Pav:,.bss:,.data:,.edata:,.idata:,.rdata:,.reloc:,.rsrc:,.text:,...,img_f985,img_f989,img_f990,img_f991,img_f992,img_f995,img_f996,img_f998,img_f999,Size
0,01IsoiSMh5gxyDYTl4CB,0,0,24568,0,616,26405,0,0,109939,...,54,41,13,10,46,120,116,48,48,13.999378
1,02IOCvYEy8mjiuAQHax3,0,0,77840,0,41,0,0,3,838,...,32,32,32,59,32,114,109,116,9,3.296968
2,02MRILoE6rNhmt7FUi45,0,0,4329,0,606,2349368,0,0,5372,...,54,41,13,10,46,120,116,48,48,83.639698
3,04cvLCVPqBMs6yn5xGlE,0,0,783910,0,123,598,0,0,3405,...,32,32,32,59,32,114,109,116,9,32.699180
4,04QzZ3DVdPsEp9elLR65,0,0,1033,0,124,640,0,3,2216,...,83,83,69,71,77,84,32,69,65,0.196652

In [22]:
# Combining asm_reduced features with byte_poly_features
asm_byte_final = asm_reduced.merge(byte_poly_features, on='Id')
asm_byte_final.head()

,Id,.Pav:,.bss:,.data:,.edata:,.idata:,.rdata:,.reloc:,.rsrc:,.text:,...,Size,byte_f2,byte_f3,byte_f4,byte_f5,byte_f6,byte_f7,byte_f8,byte_f9,byte_f10
0,01IsoiSMh5gxyDYTl4CB,0,0,24568,0,616,26405,0,0,109939,...,13.999378,3.421943,6.556152,11.709691,22.434777,42.983134,40.069891,76.770520,147.085816,281.803972
1,02IOCvYEy8mjiuAQHax3,0,0,77840,0,41,0,0,3,838,...,3.296968,3.099547,0.792969,9.607192,2.457844,0.628799,29.777944,7.618203,1.948993,0.498618
2,02MRILoE6rNhmt7FUi45,0,0,4329,0,606,2349368,0,0,5372,...,83.639698,4.086463,8.368652,16.699177,34.198185,70.034342,68.240564,139.749608,286.192725,586.093061
3,04cvLCVPqBMs6yn5xGlE,0,0,783910,0,123,598,0,0,3405,...,32.699180,2.514687,8.099609,6.323650,20.367982,65.603672,15.902001,51.219097,164.972696,531.364117
4,04QzZ3DVdPsEp9elLR65,0,0,1033,0,124,640,0,3,2216,...,0.196652,1.998134,10.804199,3.992539,21.588235,116.730721,7.977626,43.136182,233.243595,1261.181962

In [23]:
asm_byte_final.shape

(10868, 607)

**At the end of feature transformation, we have a 607 dimensional dataset consisting of both asm and byte features.
We will be building our models on this 607 dimensional dataset.**

In [24]:
# Saving into csv
asm_byte_final_tosave = asm_byte_final.set_index('Id')
asm_byte_final_tosave.to_csv('./input/asm_byte_final.csv')

In [25]:
# Reading the saved csv
asm_byte_final = pd.read_csv('./input/asm_byte_final.csv')
asm_byte_final.head()

,Id,.Pav:,.bss:,.data:,.edata:,.idata:,.rdata:,.reloc:,.rsrc:,.text:,...,Size,byte_f2,byte_f3,byte_f4,byte_f5,byte_f6,byte_f7,byte_f8,byte_f9,byte_f10
0,01IsoiSMh5gxyDYTl4CB,0,0,24568,0,616,26405,0,0,109939,...,13.999378,3.421943,6.556152,11.709691,22.434777,42.983134,40.069891,76.770520,147.085816,281.803972
1,02IOCvYEy8mjiuAQHax3,0,0,77840,0,41,0,0,3,838,...,3.296968,3.099547,0.792969,9.607192,2.457844,0.628799,29.777944,7.618203,1.948993,0.498618
2,02MRILoE6rNhmt7FUi45,0,0,4329,0,606,2349368,0,0,5372,...,83.639698,4.086463,8.368652,16.699177,34.198185,70.034342,68.240564,139.749608,286.192725,586.093061
3,04cvLCVPqBMs6yn5xGlE,0,0,783910,0,123,598,0,0,3405,...,32.699180,2.514687,8.099609,6.323650,20.367982,65.603672,15.902001,51.219097,164.972696,531.364117
4,04QzZ3DVdPsEp9elLR65,0,0,1033,0,124,640,0,3,2216,...,0.196652,1.998134,10.804199,3.992539,21.588235,116.730721,7.977626,43.136182,233.243595,1261.181962